<div>
  <br><br>
  <div class="container">
    <select [(ngModel)]="selection">
      <option value="" disabled selected>Select a station:</option>
      <option *ngFor="let item of listStation" [value]="item.name"> {{ item.name }}</option>
    </select>
    <button class="btn btn-success" (click)="getStationTrainSchedule()">Search</button>
    <div>
      <button class="btn btn-danger" routerLink="/user">Back</button>
    </div>
  </div>
  <br><br>
  <div class="container">
    <table  class="custom-table">
      <tr>
        <th>
          Time
        </th>
        <th>
          Seats available
        </th>
        <th>
          Train
        </th>
      </tr>
      <tr *ngFor="let schedule of resultQuery">
        <td>{{ schedule.time }}</td>
        <td>{{ schedule.e }}</td>
        <td>{{ schedule.trainStops.number }}</td>
      </tr>
    </table>
  </div>
</div>
