<div *ngIf="newStop">
  <h5>Add new Stops&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="font-size: medium; color: blue; cursor:pointer;" (click)="closeNewStops()">Close</a></h5>
<div style="display: flex; flex-direction: row; justify-content: space-around; margin-top: 3%">
  <div>
    <h6>Select Train number:</h6>
    <select [(ngModel)]="trainNumber" (change)="selectSchedule()" [ngModelOptions]="{standalone: true}">
      <option value="" disabled selected>Select Train:</option>
      <option *ngFor="let item of listTrain" [value]="item.id"> {{ item.number }}</option>
    </select>
  </div>
  <div>
    <h6>Select Schedule:</h6>
    <h6 class="text-center">{{ this.scheduleId }}</h6>
  </div>
  <div>
    <h6>Select Station:</h6>
    <select [(ngModel)]="stationId" [ngModelOptions]="{standalone: true}">
      <option value="" disabled selected>Select Station:</option>
      <option *ngFor="let item of listStation" [value]="item.id"> {{ item.name }}</option>
    </select>
  </div>
  <div>
    <h6>Select Time:</h6>
    <input type="datetime-local" id="startDateTime" [(ngModel)]="timeStops" name="startDateTime" [ngModelOptions]="{standalone: true}">
  </div>
  <div style="margin-top: 2%">
    <button class="btn btn-primary" (click)="addStation()">Add</button>
  </div>
</div>


</div>
<div  *ngIf="!newStop">
  <button class="btn btn-success" style="width: 150px;  margin: 4px;" (click)="newStation()">New</button>

  <h5 style="margin-top: 20px">Check Stops by Train</h5>
  <div style="display: flex; flex-direction: row; align-items: center ; margin-top: 2%">
    <div>
      <h6>Select train by Number:</h6>
      <div>
        <select [(ngModel)]="trainNumber" [ngModelOptions]="{standalone: true}">
          <option value="" disabled selected>Select train number:</option>
          <option *ngFor="let item of listTrain" [value]="item.number"> {{ item.number }}</option>
        </select>
      </div>
    </div>
    <div style="margin-left: 50px">
      <h6>Select Day:</h6>
      <input type="date" id="dateInput" name="dateInput" [(ngModel)]="selectedDate" style="height: 38px">
    </div>
    <div style="margin-left: 3%; margin-top: 2%">
      <button class="btn btn-primary" (click)="this.getStops()">Search</button>
    </div>
  </div>
</div>

<div class="table-responsive" style="margin-top: 30px">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th scope="col" style="width: 120px" >Id</th>
      <th scope="col" style="width: 120px">Train Number</th>
      <th scope="col" style="width: 120px">Schedule</th>
      <th scope="col">Station</th>
      <th scope="col">Time</th>
      <th scope="col">Options</th>


    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let station of listStops | paginate: { itemsPerPage: pageSize, currentPage: p}">
      <td>{{ station.id }}</td>
      <td>{{ station.trainStops.number }}</td>
      <td>{{ station.schedule.id }}</td>
      <td>{{ station.stationStop.name }}</td>
      <td>{{ station.time }}</td>
      <td>
        <button class="btn btn-danger" (click)="openModal(station.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
</div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #f8f8f8">
        <h4 class="modal-title" >Confirm</h4>

      </div>
      <div class="modal-body">
        <p>Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="delete()" >Yes</button>
        <button type="button" class="btn btn-danger" (click)="onCloseHandled()" >No</button>
      </div>
    </div>
  </div>
</div>

