<div class="gradiente" style="width: 100%; height: 105px">
  <div  style="width: 100%; height: auto; display: flex; align-items: center; justify-content: center; border-radius: 15px;">
    <div style="position: absolute; width: 47%; margin-top: 13%; height: 70px; border-radius: 15px;   background-color: white">
<div>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <form class="d-flex" >
        <span style="margin-top: 12px; margin-right: 20px; margin-left: 10px; font-size: large;">From</span>
        <div>
          <select [(ngModel)]="stationA" [ngModelOptions]="{standalone: true}" [style.border-color]="borderColorFrom">
            <option value="" disabled selected>Select station A:</option>
            <option *ngFor="let item of listStation" [value]="item.name"> {{ item.name }}</option>
          </select>
        </div>
        <div style="width: 30px"></div>
        <span style="margin-top: 12px; font-size: large; margin-right: 10px">&nbsp;To&nbsp;</span>
        <div>
          <select [(ngModel)]="stationB" [ngModelOptions]="{standalone: true}" [style.border-color]="borderColorTo">
            <option value="" disabled selected>Select station B:</option>
            <option *ngFor="let item of listStation" [value]="item.name"> {{ item.name }}</option>
          </select>
        </div>
      </form>
    </div>
  </nav>
</div>
  <div style="display: flex; justify-content: center; ">
    <nav class="navbar navbar-light bg-light" style="width: 100%">
      <div class="container-fluid">
        <form class="d-flex">
          <span style="margin-top: 12px; margin-right: 10px; font-size: large;">Time</span>
          <div>
            <input type="datetime-local" id="startDateTime" [(ngModel)]="startDateTime" name="startDateTime" [ngModelOptions]="{standalone: true}" [style.border-color]="borderColorTimeA">
          </div>
          <div style="width: 15%;"></div>
          <span style="margin-top: 12px; margin-right: 10px; font-size: large;">Time</span>
          <div>
            <input type="datetime-local" id="endDateTime" [(ngModel)]="endDateTime" name="endDateTime" [ngModelOptions]="{standalone: true}"  [style.border-color]="borderColorTimeB">
          </div>
          <button class="btn btn-primary" type="submit" (click)="search()" [disabled]="stationA == '' || stationB == '' || startDateTime == '' || endDateTime == ''">Search</button>
        </form>
      </div>
    </nav>
  </div>
    </div>

  </div>
</div>
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center">

  <div class="centradoAbsolute bg-ligh"  *ngIf="busqueda">
    <div class="card" *ngFor="let schedule of resultQuery" style="margin: 4px; width: 100%">
      <div class="card-header">
        <div style="display: flex; flex-direction: row; justify-content: space-between">
          <div>From: <strong>{{ schedule.startStops.stationStop.name}}</strong>  </div>
          <div style="margin-left: 5%"> To: <strong>{{ schedule.endStops.stationStop.name}}</strong></div>
        </div>
      </div>
      <div class="card-body">
        <div style="display:flex; flex-direction: row;justify-content: space-between">
          <div>
            <div>Departure: </div>
            <div><strong>{{ schedule.startStops.time }}</strong></div>
          </div>
          <div>
            <div>Arrive: </div>
            <div><strong>{{ schedule.endStops.time }}</strong></div>
          </div>
          <div>
            <div>Train:</div>
            <div>{{ schedule.startStops.trainStops.number }}</div>
          </div>
          <div>
            <button class="btn btn-outline-secondary" (click)="goToBuyTicket(schedule.startStops.trainStops.number, schedule.startStops.id, schedule.endStops.id)">Buy ticket</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div style="width: 100%; display: flex; align-items: center; justify-content: center">
<div class="modalCss" style="width: 15%; position: absolute; top: 43%; height: auto" *ngIf="this.loginS.openModal">
  <div style="display: flex; flex-direction: column; justify-content: center">
    <div style="display: flex;align-items: center; justify-content: center">
      <h3>Login</h3>
    </div>

    <div class="centrado">
      <input type="text" placeholder="Username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="centrado">
      <input type="password" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" >
    </div>
    <div class="modal-footer">
      <button  type="button" class="btn btn-primary botonLogin" (click)="login()">Login</button>
    </div>
    <div class="centrado">
      <a (click)="this.loginS.loginModalClose()" style="cursor: pointer">Close</a>
    </div>
  </div>
</div>
  <div class="modalCssReg"  *ngIf="this.loginS.openModelReg && !this.loginS.openModal">
    <div>
      <div>
        <h3>Sing up</h3>
      </div>

      <div>
        <input type="text" placeholder="Username" [(ngModel)]="newUser.username">
      </div>
      <div>
        <input type="text" placeholder="Email" [(ngModel)]="newUser.email">
      </div>
      <div>
        <input type="password" placeholder="Password" [(ngModel)]="newUser.password">
      </div>
      <div>
        <input type="password" placeholder="Repeat Password" [(ngModel)]="repeatPassword">
      </div>
      <br>
      <div>
        <h3>Personal data:</h3>
      </div>
      <br>
      <div>
        <input type="text" placeholder="Name" [(ngModel)]="newUser.name">
      </div>
      <div>
        <input type="text" placeholder="Surname" [(ngModel)]="newUser.surname">
      </div>
      <div>
        <input type="date" [(ngModel)]="newUser.dateOfBirth" name="fechaNacimiento" />
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-primary botonLogin" (click)="registred()">Sing up</button>
      </div>
      <div class="centrado">
        <a (click)="this.loginS.regModalClose()" style="cursor: pointer" >Close</a>
      </div>
    </div>
  </div>
</div>

