<div *ngIf="newTicket">
  <h5>Add new Ticket&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="font-size: medium; color: blue; cursor:pointer;" (click)="closeNewTicket()">Close</a></h5>
  <div style="display: flex; flex-direction: row; justify-content: space-around; margin-top: 3%">
    <div>
      <h6>Select Passenger:</h6>
      <select [(ngModel)]="passengerId" [ngModelOptions]="{standalone: true}">
        <option value="" disabled selected>Select Passenger:</option>
        <option *ngFor="let item of listPassenger" [value]="item.id"> {{ item.name }}</option>
      </select>
    </div>
    <div>
      <h6>Select Start Station:</h6>
      <select [(ngModel)]="stationAName" [ngModelOptions]="{standalone: true}" (change)="getStopsStarStation()">
        <option value="" disabled selected>Select Start Station:</option>
        <option *ngFor="let item of listStation" [value]="item.name"> {{ item.name }}</option>
      </select>
    </div>
    <div>
      <div>
        <h6>Select day:</h6>
      <select [(ngModel)]="timeStops" (change)="getEndStops()" [ngModelOptions]="{standalone: true}">
        <option value="" disabled selected>Select Time and Train:</option>
        <option *ngFor="let item of listStopStartStation" [value]="item.time"> {{ item.time }} - {{ item.trainStops.number }}</option>
      </select>
    </div>
    </div>
    <div>
      <h6>Select End Station:</h6>
      <select [(ngModel)]="stationBId" [ngModelOptions]="{standalone: true}" [disabled]="this.listDestinations.length == 0">
        <option value="" disabled selected>Select End Station:</option>
        <option *ngFor="let item of listDestinations" [value]="item.id"> {{ item.stationStop.name }} - {{ item.time}}</option>
      </select>
    </div>

    <div style="margin-top: 2%">
      <button class="btn btn-primary" (click)="addTicket()" [disabled]="stationBId == 0 || timeStops == '' || stationAName == '' || passengerId == 0"  style="width: 150px;  margin: 4px;">Add</button>
    </div>
  </div>
  <br>

</div>
<div  *ngIf="!newTicket">
  <button class="btn btn-success" style="width: 150px;  margin: 4px;" (click)="openNewsTicket()">New</button>
  <h5 style="margin-top: 20px">Check Ticket by Passenger</h5>
  <br>
  <div style="display: flex; flex-direction: row; align-items: center">
    <div>
      <h6>Select Ticket by Passenger:</h6>
      <div>
        <select [(ngModel)]="passengerName" [ngModelOptions]="{standalone: true}">
          <option value="" disabled selected>Select passenger name:</option>
          <option *ngFor="let item of listPassenger" [value]="item.id"> {{ item.name }}</option>
        </select>
      </div>
    </div>
    <div style="margin-left: 50px">
      <h6>Select Day:</h6>
      <input type="date" id="dateInput" name="dateInput" [(ngModel)]="selectedDate" style="height: 38px">
    </div>
    <div style="margin-left: 3%; margin-top: 2%">
      <button class="btn btn-primary" (click)="this.getTicket()">Search</button>
    </div>
  </div>
  <br>
</div>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th scope="col" style="width: 60px" >Id</th>
      <th scope="col" >Passenger</th>
      <th scope="col" style="width: 120px" >Train Number</th>
      <th scope="col" >Start Station</th>
      <th scope="col" >Start Time</th>
      <th scope="col">End Station</th>
      <th scope="col" >End Time</th>
      <th scope="col" >Seats</th>
      <th scope="col" >Options</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ticket of listTicket | paginate: { itemsPerPage: pageSize, currentPage: p}">
      <td>{{ ticket.id }}</td>
      <td>{{ ticket.passenger.name }}</td>
      <td>{{ ticket.startStops.trainStops.number }}</td>
      <td>{{ ticket.startStops.stationStop.name }}</td>
      <td>{{ ticket.startStops.time }}</td>
      <td>{{ ticket.endStops.stationStop.name }}</td>
      <td>{{ ticket.endStops.time }}</td>
      <td>{{ ticket.seat }}/{{ ticket.startStops.trainStops.seats }}</td>
      <td>
        <button class="btn btn-danger" (click)="openModal(ticket.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
</div>

<div class="modalCss" style="width: 20%; position: absolute; left: 40% ; top: 25%; height: auto" *ngIf="this.modelView">
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center" >
    <div style="display: flex;align-items: center; justify-content: center">
      <h3>Station</h3>
    </div>
    <div class="centrado">
      <input type="text" placeholder="name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" >
    </div>
    <div class="centrado">
      <button  type="button" class="btn btn-primary botonLogin" (click)="update()">Update/Create</button>
    </div>
    <div class="centrado">
      <a (click)="this.modelView = false">Close</a>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #f8f8f8">
        <h4 class="modal-title" >Confirm</h4>

      </div>
      <div class="modal-body">
        <p>Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="delete()" >Yes</button>
        <button type="button" class="btn btn-danger" (click)="onCloseHandled()" >No</button>
      </div>
    </div>
  </div>
</div>
