<div>
  <button class="btn btn-success" (click)="openModal()"  style="width: 150px;  margin: 4px;">New</button>
</div>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Employe</th>
      <th scope="col"> Options </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let passenger of listPassenger | paginate: { itemsPerPage: pageSize, currentPage: p}">
      <td>{{ passenger.id }}</td>
      <td>{{ passenger.username }}</td>
      <td>{{ passenger.name }}</td>
      <td>{{ passenger.surname }}</td>
      <td>{{ passenger.dateBirth }}</td>
      <td>{{ passenger.employe }}</td>
      <td>
        <button class="btn btn-warning" (click)="openModal(passenger)">Update</button>
        <button class="btn btn-danger" (click)="delete(passenger.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
</div>

<div class="modalCss" style="width: 20%; position: absolute; left: 40% ; top: 25%; height: auto" *ngIf="this.modelView">
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center" >
    <div style="display: flex;align-items: center; justify-content: center">
      <h3>Passenger</h3>
    </div>
    <div class="centrado">
      <input type="text" placeholder="Username" [(ngModel)]="passenger.username" [ngModelOptions]="{standalone: true}" >
    </div>
    <div class="centrado">
      <input type="password" placeholder="Password" [(ngModel)]="passenger.password" [ngModelOptions]="{standalone: true}" >
    </div>
    <div class="centrado" *ngIf="this.idPassenger == 0">
      <input type="password" placeholder="Repeat Password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}" >
    </div>
    <div class="centrado">
      <input type="text" placeholder="Name" [(ngModel)]="passenger.name" [ngModelOptions]="{standalone: true}" >
    </div>
    <div class="centrado">
      <input type="text" placeholder="Surname" [(ngModel)]="passenger.surname" [ngModelOptions]="{standalone: true}" >
    </div>
    <div class="centrado">
      <h6>Select Day:</h6>
      <input type="date" id="dateInput" name="dateInput" [(ngModel)]="passenger.dateBirth" style="height: 38px">
    </div>
    <div class="centrado">
      <input type="checkbox" [(ngModel)]="passenger.employe"> Employee
    </div>
    <div class="centrado" *ngIf="this.idPassenger != 0">
      <button  type="button" class="btn btn-primary botonLogin" (click)="update()">Update</button>
    </div>
    <div class="centrado" *ngIf="this.idPassenger == 0">
      <button  type="button" class="btn btn-primary botonLogin" (click)="createPassenger()">Create</button>
    </div>
    <div class="centrado">
      <a (click)="this.modelView = false" style="cursor: pointer">Close</a>
    </div>
  </div>
</div>
